{{ define "main" }}
  <h2>Alle Abzeichen</h2>
  
  <div class="badges-list-container">
    {{ range .Pages }}
      <div class="badge-list-item">
        <a href="{{ .Permalink }}" class="badge-list-link">
          <div class="badge-list-icon">
            {{ if eq .Title "Dribbelabzeichen" }}
              <img src="{{ .Site.BaseURL }}Dribbling.svg" alt="Dribbling Abzeichen" class="badge-list-svg" />
            {{ else if eq .Title "Passabzeichen" }}
              <img src="{{ .Site.BaseURL }}Pass.svg" alt="Pass Abzeichen" class="badge-list-svg" />
            {{ else if eq .Title "Wurfabzeichen" }}
              <img src="{{ .Site.BaseURL }}Wurf.svg" alt="Wurf Abzeichen" class="badge-list-svg" />
            {{ else if eq .Title "Korblegerabzeichen" }}
              <img src="{{ .Site.BaseURL }}Layup.svg" alt="Korbleger Abzeichen" class="badge-list-svg" />
            {{ else if eq .Title "Teamworkabzeichen" }}
              <img src="{{ .Site.BaseURL }}Teamwork.svg" alt="Teamwork Abzeichen" class="badge-list-svg" />
            {{ end }}
          </div>
          <div class="badge-list-content">
            <h3>{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
{{ end }} 