<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}{{ .Title }} | Basketball Abzeichen{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
</head>
<body>
  <header>
    <div style="position: relative;">
      <nav>
        <a href="{{ .Site.BaseURL }}">Startseite</a> | 
        <a href="{{ .Site.BaseURL }}abzeichen/">Abzeichen</a> | 
        <a href="{{ .Site.BaseURL }}about/">Über mich</a> | 
        <a href="{{ .Site.BaseURL }}impressum/">Impressum</a>
      </nav>
      <h1>{{ .Site.Title }}</h1>
      <p>{{ .Site.Params.description }}</p>
      <div class="biba-logo-header">
        <img src="/images/bgbiba_full.svg" alt="Biba Logo" />
      </div>
    </div>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <small>&copy; {{ now.Year }} [Nils Brinkmann](https://nils.brink.men/)</small>
  </footer>
</body>
</html>
