<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}{{ .Title }} | Basketball Abzeichen{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
</head>
<body>
  <header>
    <div class="biba-logo-header">
      <a href="https://www.bgbiba.info/"><img src="{{ .Site.BaseURL }}images/bgbiba_full.svg" alt="Biba Logo" /></a>
    </div>
    <div class="header-content">
      <nav>
        <a href="{{ .Site.BaseURL }}">Startseite</a> | 
        <a href="{{ .Site.BaseURL }}about/">About</a> | 
        <a href="{{ .Site.BaseURL }}impressum/">Impressum</a>
      </nav>
      <h1>{{ .Site.Title }}</h1>
      <p>{{ .Site.Params.description }}</p>
    </div>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <small>&copy; {{ now.Year }} <a href="https://nils.brink.men">Nils Brinkmann</a><small>
  </footer>
</body>
</html>
